{% include 'header.html' %}
</aside>
<!-- end: sidebar -->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>PREDIKSI usia rumah</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>predikasi usia</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>  
    <!-- start: page -->
<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">INPUT DATA PREDIKSI USIA RUMAH</h2>
            </header>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="#">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rata-Rata pendapatan penduduk</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputDefault">
												</div>
											</div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rata-Rata jumlah kamar mandi</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="inputDefault">
                                            </div>
                                                </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rata-Rata jumlah kamar tidur</label>
                                <div class="col-md-6">
                                        <input type="text" class="form-control" id="inputDefault">
                                                </div>
                                                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Populasi</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputDefault">
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Harga dari rumah</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="inputDefault">
                                                            </div>
                                                                </div>
                                                                <footer class="panel-footer">
                                                                    <div class="row">
                                                                        <div class="col-sm-9 col-sm-offset-3">
                                                                    <button type="submit"name="button" class="btn btn-primary"> Submit</button>
                                                                    </footer>
                                                                </section>
                                                            </form>
                                                        </div>
                                                    </div>
           {% include 'footer.html' %}